@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.row {
    --bs-gutter-x: 0px !important;
}
.header
{
    padding: 16px 23px 16px 23px; 
    background: #3B74A5;
}

.header .logo img{
    width: 127px;
  
}
.header .person .details
{
    margin-bottom: 0px;
    float: right;
}
.header .person .details .detail1{
    list-style: none;
    display: table-cell;
}
.header .dropdown {
   margin-left: 10px;
}
.header .dropdown 
{
    background-color: #3b74a500;
    border: none;
}
.header .dropdown:hover .dropbtn {
  background-color: #3e8e4100;
}
.header .dropdown .dropbtn {
  background-color: #00000000;
  color: white;
  padding: 6px 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.header .dropdown .dropdown-content a {
  color: black;
  padding: 8px 17px;
  text-decoration: none;
  display: block;
  font-size: 11px;
  border-bottom: 1px solid #a7a5a51f;
}
.header .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 66px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}
.header .dropdown  span
{
    padding: 13px 14px;
    background: linear-gradient(0deg, #2E618D, #2E618D), url(avatar.png);
    border-radius: 50px;
    font-size: 15px;
}
.header .dropdown .dropdown-toggle::after {
    display: none;
}
.header .dropdown  i{
    font-size: 10px;
    margin-left: 3px;
}

.nav-pills .nav-link.active, .nav-pills.show>.nav-link {
    color: #3B74A5;
    background: #FBFBFB;
    border-left: 3px solid #3B74A5;
}
.nav-pills .nav-link:hover{
    color: #3B74A5;
    background: #FBFBFB;
    border-left: 3px solid #3B74A5;
}
.nav-pills .nav-link {
    background: #EEF2F6;
    border-radius: 0px;
    padding: 12px 20px;
    border-bottom: 1px solid #E0E8F3;
}
.nav-pills .nav-link i{
    font-size: 23px;
}
.nav-pills .nav-link span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #4B545D;
}

.nav-pills .nav-link span:hover {
    color:#3B74A5;
}
.nav-pills .nav-link.active span{
    color:#3B74A5
}
.nav-pills
{
  background-color: #eef2f6;
  height: auto;  
}
.main .full
{
  height: auto;
  background-color: #e0e4e9;

}
.main .tab-content
{
    width: 100%;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .main .first
  {
    padding: 20px;
    background: #F5F7FA;
box-shadow: 6px 0px 5px rgba(213, 218, 225, 0.4);
height: 592px;
  }
  .main .first .dropdown .dropbtn
  {
    background: #FFFFFF;
border: 1px solid #DCDBDB;
border-radius: 4px;
width: 207px;
height: 40px;
color: #4B545D;
font-size: 13px;
line-height: 11px;
padding: 15px;
}
  .main .first .dropdown .dropbtn i{
    font-weight: 900;
    font-size: 8px;
    line-height: 12px;
    float: right;
  }
  .first .icon ul
  {
padding-left: 0px;
margin-bottom: 0px;
  }
  .first .icon li
  {
    list-style: none;
    display: table-cell;
    padding-right: 10px;
  }
  .first .icon li .icons
  {
    background: #FFFFFF;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
border-radius: 4px;
border: 0px;
width: 38px;
    height: 38px;
    padding: 9px 10px;
  }
  .first .icon 
  {
    border: 1px solid #D1D8E3;
    border-radius: 4px;
    padding: 12px 13px;
    margin-top: 10px;
  }

  .main .first .dropdown .dropbtn img{
    float: left;
  }
  
  .main .first .dropdown .dropbtn span{
    float: left;
    margin-left: 8px;
  }
  .main .first .dropdown .dropdown-content a {
    font-size: 13px;
    color: #424242;
    padding: 8px 17px;
    text-decoration: none;
    display: block;
  }
.main .first .dropdown .dropdown-content
{
    border-radius: 4px;
width: 229px;
}
.main .first .form-select {
  display: block;
  width: 100%;
  padding: 9px;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.main .call .dropbtn
{
    background: linear-gradient(180deg, #FCFDFF 1.56%, #EFF2F5 100%);
border: 1px solid #D1D8E3;
padding: 7px 8px;
margin-left: 5px;
}

.accordion-button
{
  background: linear-gradient(180deg, #FCFDFF 1.56%, #EFF2F5 100%);
border: 1px solid #D1D8E3;
color: #4B545D;
font-size: 13px;
line-height: 15px;
padding: 8px 15px;
}
.main .tab-content .bttns li button
{
  background: #FFFFFF;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
border-radius: 4px;
border: 0;
padding: 12px;
color: #63768E;
font-size: 14px;
margin-left: 7px;
}
.main .tab-content .bttns ul
{
  margin-bottom: 0px;
}
.main .tab-content .bttns li
{
  
  list-style: none;
  display: initial;

}
.main .tab-content .bttns
{
  background: linear-gradient(180deg, #FCFDFF 1.56%, #EFF2F5 100%);
  border: 1px solid #D1D8E3;
  padding: 10px 18px;
  text-align: right;
}
.main .tab-content .bttns li button.warnning
{
  background: #ED313D;
  color: #fff;
}
.main .mainbox
{
  background: #e0e4e9;
box-shadow: 6px 0px 5px rgba(213, 218, 225, 0.4);
padding: 16px;
}
.mainbox .mainbox1 ul li{
  background: linear-gradient(180deg, #FCFDFF 1.56%, #EFF2F5 100%); 
}
.mainbox .mainbox1 .nav-link
{
  background: linear-gradient(180deg, #FCFDFF 1.56%, #EFF2F5 100%);
  border-right: 1px solid #D1D8E3 !important;
  border-radius: 0px;
  border-bottom: 1px solid #D1D8E3;
  color: #63768E;
  font-size: 13.1px;
  padding: 10px 12px;
  font-weight: 600;
  width: 100%;
}

.mainbox .mainbox1 
{
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(206 214 225 / 90%);
  border-radius: 5px;
  height: 490px;
}
.mainbox .mainbox1 .nav-link.nav-link.active{
  color: #4B545D;
  border-bottom: 1px solid #334b7000;
  background: linear-gradient(180deg, #ffffff 1.56%, #ffffff 100%);
}
.mainbox .mainbox1 .nav-link.nav-link:first-child
{
  border-left: 0px;
  border-radius: 4px 0px 0px 0px
}
.mainbox .mainbox1 .nav-item1
{
  width: 18%;
}
.mainbox .mainbox1 .nav-item2
{
  width: 30%;
}
.mainbox .mainbox1 .nav-item3
{
  width: 22%;
}.mainbox .mainbox1 .nav-item4
{
  width: 30%;
}


.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe00;
  outline: 0 !important;
  box-shadow: none !important;
}
.main .first .form-select:focus
{
  box-shadow: none !important;
  border: 1px solid #ced4da;
}
.accordion-body
{
  padding: 0px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../image/ANGLE-UP.svg);
  transform: none;
  background-size: 10px 22px;
}
.accordion-button::after
{
  background-image: url(../image/ANGLE-DOWN.svg);
  background-size: 10px 22px;
}
.accordion-button:not(.collapsed)
{
  color: #4B545D;
}
.accordion-flush .accordion-button
{
  padding: 8px 28px;
}
.accordion
{
  padding-top: 15px;
}
.accordion.accordion-flush
{
  padding-top: 0px;
}
.accordion.accordion-flush ul{
  margin-bottom: 0px;
  padding-left: 0px;
}
.accordion.accordion-flush ul li{
  list-style: none;
  padding-left: 20px;
  background: #F5F7FA;
}
.accordion.accordion-flush ul li.active{
  background-color: #fff;
}
.accordion.accordion-flush ul li:first-child
{
  border-bottom: 1px solid #DCDBDB;
}
.accordion.accordion-flush ul li .imgg{
  display: inline-flex;
  padding: 7px 5px 8px;
}
.accordion.accordion-flush ul li .headi{
  display: inline-block;
}
.accordion.accordion-flush ul li h6{
  font-size: 13px;
  color: #4B545D;
  font-weight: 600;
  margin-bottom: 0px;
}
.accordion.accordion-flush ul li p{
font-size: 9px;
color: #4B545D;
margin-bottom: 0px;
}
.chat-msg .header h6{
  margin-bottom: 0px;
  font-size: 15px;
  color: #4B545D;
  font-weight: 500;
}
.chat-msg .header
{

  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(206, 214, 225, 0.3);
  border-radius: 6px 6px 0px 0px;
}
.chat-msg .messages-me .message-body
{
  text-align: right;
  width: 82%;
    display: inline-block;
    vertical-align: top;
}
.chat-msg .messages-me .message-body1
{
  background: #D6E1EB;
  border-radius: 4px;
}

.chat-msg .messages-you .message-body
{
  
  text-align: left;
  width: 76%;
  display: inline-block;
  vertical-align: top;
}
.chat-msg .messages-you .message-body1
{
  background: #fff;
  border-radius: 4px;
}

.chat-msg .messages-you .message-body h5{
  color: #3B74A5;
  font-size: 14px;
  padding: 20px 20px 0px;
  margin-bottom: 0px;
  font-weight: 600;
}

.chat-msg .messages-you .message-body1:after{
  width: 0;
  height: 0;
  content: "";
  top: -55px;
  left: -9px;
  position: relative;
  border-style: solid;
  border-width: 20px 0px 0px 20px;
  border-color: #fff transparent transparent transparent;
  
}
.chat-msg .messages-me .message-body:before{
  width: 0;
    height: 0;
    content: "";
    top: 42px;
    left: 9px;
    position: relative;
    border-style: solid;
    border-width: 20px 20px 00px 0px;
    border-color: #d6e1eb transparent transparent transparent;
}
.time span
{
  font-size: 8px
}
.time
{
  padding: 0px !important;
}
.chat-msg .messages-me
{
  text-align: right;
}
.chat-msg ul{
  padding: 0px 30px;
}
.chat-msg ul li
{
list-style: none;
margin-bottom: 15px;
}

.chat{
  background: #F4F6F7;
  box-shadow: 0px 0px 3px rgba(206, 214, 225, 0.5);
  border-radius: 6px;
  margin-left: 15px;
}
.chat-msg .messages-me  .message-body p{
  color: #4B545D;
  font-size: 12px;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}

.chat-msg .messages-you .message-body p{
  color: #4B545D;
  font-size: 12px;
  margin-bottom: 0px;
  padding: 0px 20px 0px;
}
.chat-msg .messages-you .message-img h6{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #3B74A5;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 10px;
}

.chat-msg .messages-you .message-img
{
  display: inline-block;
  width: 20%;
  top: 0;
  vertical-align: top;
  
}

.chat-msg .messages-me .message-img
{
  display: inline-block;
  width: 13%;
  top: 0;
  vertical-align: top;
  
}
.chat-msg .main{
  overflow-y: scroll;
  height: 270px;
}
.chat-msg .chat-footer
{
  background-color: #fff;
  padding: 20px;
  border-radius: 0px 0px 6px 6px
}
.chat-msg .chat-footer input
{
  background: #F4F6F7;
    box-shadow: inset 0px 1px 4px rgb(206 214 225 / 25%);
    border-radius: 26px;
    border: 0px;
    padding: 9px 22px;
    font-size: 12px;

}
.chat-footer i {
  color: #3B74A5;
  font-size: 17px;
}
.chat-footer a{
  text-decoration: none;
}
.chat-msg .chat-footer input:active
{
  box-shadow: none !important;
  border: 0px !important;
}
.chat-footer button i{
  color: #3B74A5;
  font-size: 19px;
}
.chat-footer button
{

  border: 0px;
  background-color: #fff;
}























@media screen and (max-width: 900px) {
.nav-pills .nav-link {
  background: #EEF2F6;
  border-radius: 0px;
  padding: 10px 3px;
  border-bottom: 1px solid #E0E8F3;
}
.first .icon li .icons {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
  border-radius: 4px;
  border: 0px;
  width: 31px;
  height: 29px;
  padding: 4px 7px;
}
.main .tab-content .bttns li button {
  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
  border-radius: 4px;
  border: 0;
  padding: 5px;
  color: #63768E;
  font-size: 14px;
  margin-left: 7px;
}
.main .call .dropbtn {
  padding: 7px 5px;
  margin-left: 4px;
}
.main .tab-content .bttns {
  
  text-align: center;
}
.main .first {
  padding: 10px;
  background: #F5F7FA;
  box-shadow: 6px 0px 5px rgb(213 218 225 / 40%);
  height: auto;
}
.first .icon {
  text-align: center;
}
.first .icon li {
  list-style: none;
  display: inline-grid;
  padding-right: 3px;
}
.mainbox .mainbox1 .nav-link {
  font-size: 8px;
  padding: 7px 4px;
  font-weight: 600;
}
.chat {
  margin-left: 0px;
  margin-top: 15px;
}
}

@media screen and (min-width: 425px) and (max-width:900px)
{
  .chat-msg .messages-you .message-body1:after {
    width: 0;
    height: 0;
    content: "";
    top: -37px;
  }
}